Client_APP/src/main/java/proxy/.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="EtudiantServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8098/?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllEtudiants">
<part name="parameters" element="tns:getAllEtudiants"></part>
</message>
<message name="getAllEtudiantsResponse">
<part name="parameters" element="tns:getAllEtudiantsResponse"></part>
</message>
<message name="getEtudiantsBycin">
<part name="parameters" element="tns:getEtudiantsBycin"></part>
</message>
<message name="getEtudiantsBycinResponse">
<part name="parameters" element="tns:getEtudiantsBycinResponse"></part>
</message>
<message name="getLimitEtudiants">
<part name="parameters" element="tns:getLimitEtudiants"></part>
</message>
<message name="getLimitEtudiantsResponse">
<part name="parameters" element="tns:getLimitEtudiantsResponse"></part>
</message>
<portType name="EtudiantService">
<operation name="getAllEtudiants">
<input wsam:Action="http://WS/EtudiantService/getAllEtudiantsRequest" message="tns:getAllEtudiants"></input>
<output wsam:Action="http://WS/EtudiantService/getAllEtudiantsResponse" message="tns:getAllEtudiantsResponse"></output>
</operation>
<operation name="getEtudiantsBycin">
<input wsam:Action="http://WS/EtudiantService/getEtudiantsBycinRequest" message="tns:getEtudiantsBycin"></input>
<output wsam:Action="http://WS/EtudiantService/getEtudiantsBycinResponse" message="tns:getEtudiantsBycinResponse"></output>
</operation>
<operation name="getLimitEtudiants">
<input wsam:Action="http://WS/EtudiantService/getLimitEtudiantsRequest" message="tns:getLimitEtudiants"></input>
<output wsam:Action="http://WS/EtudiantService/getLimitEtudiantsResponse" message="tns:getLimitEtudiantsResponse"></output>
</operation>
</portType>
<binding name="EtudiantServicePortBinding" type="tns:EtudiantService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllEtudiants">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getEtudiantsBycin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getLimitEtudiants">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="EtudiantServiceService">
<port name="EtudiantServicePort" binding="tns:EtudiantServicePortBinding">
<soap:address location="http://localhost:8098/"></soap:address>
</port>
</service>
</definitions>